// Colors
$mainColor: #f9f9f9;
$headerColor: #5e5e5e;
$whiteColor: #ffffff;
$textColor: #303030;
$headingsColor: #cfb995;
$weirdGreen: #57e690;
$kiwiGreen: #8fe360;
$redColor: #ff5b5b;
$pastelOrange: #ff915b;
$paleOrange: #ffbe5b;
$blueSky: #57dbe6;
$lightGold: #ffdf5b;
$grayColor: #b2b2b2;
$buttonColor: #d0ba93;
$whiteThree: #ecebe9;

// Fonts
$MontserratFont: 'Arial';
$fontSemiBold: 600;
$fontNormal: normal;
$sizeNormal: 1rem;
$sizeLarge: 2.5rem;