@import '../../Scss/helpers/variables';

.search-form{
    position: relative;
    select{
        background-color: $mainColor;
        border: 1px solid $whiteThree;
        padding: 10px;
        border-radius: 4px;
        width: 400px;
        margin: 32px 0 60px;
        color: $headerColor;
        outline: none;
        font-weight: $fontBold;
        outline: none;
    }
    button{
        position: absolute;
        right: 10px;
        top: 40px;
        background-color: transparent;
        border: navajowhite;
        cursor: pointer;
    }
    .jokesInSearch {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: $whiteColor;
        border: 1px solid $whiteThree;
        padding: 10px;
        text-align: center;
    }
    .linkToJoke{
        max-width: 100% !important;
    }
}
